a{
    text-decoration: none;
}
.fluid{
    width: 100%;
    height: auto;
}
.text-dark{
    color: var(--dark);
}
.text-light{
    color: var(--light);
}
.text-gray{
    color: var(--gray);
}
.text-primary{
    color: var(--primary-color);
}
.text-center{
    text-align: center;
}
.text-code{
    font: normal 700 1.2rem/1.4rem var(--font-ant);
}
.text-sm{
    font: normal 700 .9rem var(--font-poppins);
}
.text-md{
    font: normal 700 1.2rem/1.4rem var(--font-poppins);
}
.text-lg{
    
    font: normal 1600 6rem/3.6rem var(--font-poppins);
}
.uppercase{
    text-transform: uppercase;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.p-0{
    padding: 0;
}
.para{
    margin: 0;
    margin-bottom: 1rem;
    color: var(--gray);
}
.par{
    justify-content: center;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    background: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}
.btn-1{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0px;
    border: 0;
    background: var(--primary-color);
    color: #42210b;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover, .btn-1:hover{
    background: var(--secondary-color);
    color: #ffff;
}
.tale{
    transition: transform 0.3s;
}
.tale:hover{
    transform: translateY(-15px);
}
.center{
    align-content: center;
}
.text-container{
    width: 50%;
    transform: translate(-50%,-50%);
    margin-top: 180px;
    margin-left: 50%;
    text-align: justify;
}
.heading{
    margin-top: 30px;
    margin-bottom: 30px;
}